.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid var(--border-color);
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sun-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.osc-text {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 6px 10px;
  }

  .nav-links {
    gap: 8px;
  }

  .nav-link {
    font-size: 0.6rem;
  }

  .nav-logo {
    gap: 3px;
  }

  .sun-icon img {
    width: 20px;
    height: 20px;
  }

  .osc-text {
    font-size: 1rem;
  }

  .theme-toggle {
    padding: 3px;
  }
  .toggle-icon {
    width: 20px;
    height: 20px;
  }
}
